.zoneGrid{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  
  gap: 10px;
  background-color: transparent;
  
  background: #202D1E;
  min-width: 40vw;
  max-width: 50vw;
  height: 80vh;
  /*center the grid*/
  justify-items: center;
  overflow-y: scroll;
  padding: 20px;
}

#roomsheader{
  /*Take up the whole first row*/
  
  text-align: center;
  
  
}

.controlsdiv{
  display: flex;
  border: 1px solid black;

}

.roomInput{
  background-color: white;
  padding: 10px;
  border-radius: 10px;
  border: 0px;
  margin: 10px;
  max-width: 50vw;
  min-width: 40vw;
  min-height: 80vh;
  max-height: 50vh;
  background-color: #202D1E;
  color: white;
}



.container{
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  height: 100vh;
  background: #242424;
}

.control-panel{
  margin-top: 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 30px;
  background: #202D1E;
  padding: 20px;
  border-radius: 20px;

}

.control-panel > *{
  padding: 10px;
}

.allroomscontainer{
  display: flex;
  gap: 10px;
  background-color: transparent;
}

.bottomarea{
  margin: 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 20px;
}

.temperatureContainer{
  background-color: transparent;
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 10px;
  text-align: center;
}

.temperatureInput{
  background-color: white;
  padding: 10px;
  border-radius: 10px;
  border: 0px;
}

.actionbutton{
  background-color: #3A4B37;
  color: white;
  padding: 10px;
  border-radius: 10px;
  border: 0px;
  transition: 0.2s ease-in-out;
}

.actionbutton:hover{
  background-color: #2E3A29;
  color: white;
  padding: 10px;
  border-radius: 10px;
  border: 0px;
  transition: 0.2s ease-in-out;
}




label{
  color: white;
  background-color: transparent;
}