
/*color variables*/
:root{
  --bg-color: #34435E;
  --accent-color: #87919E;
  --hover-color: #CDE6F5;
}

.zoneGrid{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  border-radius: 10px;
  gap: 10px;
  background-color: transparent;
  
  background: var(--bg-color);
  min-width: 40vw;
  max-width: 50vw;
  height: 80vh;
  /*center the grid*/
  justify-items: center;
  overflow-y: scroll;
  padding: 20px;
}

#roomsheader{
  /*Take up the whole first row*/
  
  text-align: center;
  color: white;
  margin: 20px 0;
  
  
}

.controlsdiv{
  display: flex;
  border: 1px solid black;

}

.roomInput{
  background-color: white;
  padding: 10px;
  border-radius: 10px;
  border: 0px;
  margin: 10px;
  max-width: 50vw;
  min-width: 40vw;
  min-height: 80vh;
  max-height: 50vh;
  background-color: var(--bg-color);
  color: white;
}

.roomInput::placeholder{
  color: white;
}



.container{
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  height: 100vh;
  background: #707078;
}

.control-panel{
  margin-top: 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 30px;
  background: var(--bg-color);
  padding: 20px;
  border-radius: 20px;

}

.control-panel > *{
  padding: 10px;
}

.allroomscontainer{
  display: flex;
  gap: 10px;
  background-color: transparent;
}

.bottomarea{
  
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 20px;
  max-height: 80vh;
}

.temperatureContainer{
  background-color: transparent;
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 10px;
  text-align: center;
}

.temperatureInput{
  background-color: white;
  padding: 10px;
  border-radius: 10px;
  border: 0px;
}

.actionbutton{
  background-color: var(--accent-color);
  color: white;
  padding: 10px;
  border-radius: 10px;
  border: 0px;
  transition: 0.2s ease-in-out;
}

.actionbutton:hover{
  cursor: pointer;
  background-color: var(--hover-color);
  color: white;
  padding: 10px;
  border-radius: 10px;
  border: 0px;
  transition: 0.2s ease-in-out;
  transform: scale(1.05);
}




label{
  color: white;
  background-color: transparent;
}